@charset "utf-8";

/*---------------------drag and drop---------------------------*/
.draggable {
	width: 100px;
	height: 50px;
	float: left;
	margin: 10px 10px 10px 0;
	padding-top: 5px;
	background-color: #004e95;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	line-height: 1.2em;
	z-index: 5;
}

.draggable:hover {
	cursor: pointer;
}

.droppable { 
	width: 98px;
	height: 48px;
	float: left;
	padding-top: 5px;
	border: 1px dashed #000;
}

#randomize {
	width: 85%;
	margin: 0 auto;
}